.task-area{
    display: flex;
    justify-content: space-around;
}

.input-task {
    width: 60%;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.btn-save {
    background-color: green;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}