.task-list{
    display: flex;
    word-wrap: break-word;
}

.pencil{
    margin-left: auto;
    margin-right: 1.5rem;
}

.delete{
    margin-right: 0.5rem;
}

.all-task-lists {
        height: 200px;
        overflow:auto;
}

